<!-- navbar.component.html -->
<header>
    <nav>
      <div class="logo">
        <img src="assets/gark-sport-logo.png" alt="GarkSport Logo">
        <span class="green">Gark</span><span class="blue">Sport</span>
      </div>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </nav>
  </header>