.failed__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #ff6347;
    /* Red color for the circle */
    fill: none;
    animation: stroke-failed 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.failed {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #ff6347;
    /* Red color for the box shadow */
    animation: fill-failed 0.4s ease-in-out 0.4s forwards,
        scale-failed 0.3s ease-in-out 0.9s both;
}

.failed__cross {
    stroke: #fff;
    /* White color for the cross */
    stroke-width: 6;
    /* Adjust thickness of the cross */
    animation: stroke-failed 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke-failed {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale-failed {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill-failed {
    100% {
        box-shadow: inset 0px 0px 0px 30px #ff6347;
        /* Red color for the box shadow */
    }
}